
h1 {
    font-family: "Special Gothic Expanded One";
    font-style: normal;
    font-size: 175%;
}

h2 {
    font-family: "Special Gothic Expanded One";
    font-size: 125%;
}

h2::before {
    content: "- ";
}

.md-section {
    background-color: var(--bg-transparent);
    border-radius: 12px;
    padding: 24px;
    margin-bottom: 24px; /* spacing between sections */
}

.project-img {
    display: block;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    background-color: var(--bg-light);
    padding: 0.5%;
    outline: 2px solid var(--bg-light);
    outline-offset: 3px;
}

.project-video {
    display: block;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    background-color: var(--bg-light);
    padding: 0.5%;
    outline: 2px solid var(--bg-light);
    outline-offset: 3px;
}

.inline-code {
    background-color: var(--code-bg);
    color: var(--code-text);
    padding: 0px 4px;
    border-radius: 4px;
    font-family: 'JetBrains Mono', 'Fira Code', Consolas, monospace;
    font-size: 90%;
}