body, html {
    font-family: 'Playfair Display', 'Times New Roman', Times, serif;
    color: #ffd8a3;
    background-color: #00255b;
    height: 100%;
    margin: 0%;
    scroll-behavior: smooth;
}

::selection {
    background-color: #ffd8a3;
    color: #00255b;
}

:target {
    scroll-margin-top: 20vh;
}

h1 {
    font-style: italic;
    font-weight: 900;
    font-size: 650%;
}

h2 {
    font-family: "Special Gothic Expanded One";
    font-size: 150%;
}

p {
    overflow-wrap: break-word;
    font-size: 130%;
}

blockquote {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

.page {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    font-family: "Special Gothic Expanded One";
    font-size: 150%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #0000002f;
}

.header-list {
    list-style-type: none;
    padding: 2vh 10%;
    overflow: hidden;
    display: flex;
    gap: 25px;
    justify-content: right;
}

footer {
    font-family: "Special Gothic Expanded One";
    width: 100%;
    background-color: #0000002f;
}

.footer-list {
    list-style-type: none;
    padding: 1vh 10%;
    overflow: hidden;
    display: flex;
    gap: 25px;
    justify-content: left;
}

.article-list {
    position: sticky;
    top: 20%;
    font-style: italic;
    font-weight: 700;
    list-style-type: circle;
    overflow-x: auto;
    overflow-y: auto;
    padding: 10px 25px;
    margin: 10vh 5vw;
    max-height: 75vh;
    width: fit-content;
    height: fit-content;
    flex: none;
    background-color: #0000002f;
    border-radius: 15px;

    scrollbar-color: #ffffff7f transparent;
}

.article-list::-webkit-scrollbar-track {
    background: transparent;
}

.subproject-heading {
    font-family: "Special Gothic Expanded One";
    font-size: 100%;
    margin-left: 40px;
}

.subproject-heading::before {
    content: "- ";
}

.project-button {
    background: none;
    display: block;
    border: none;
    color: inherit;
    font-family: "Special Gothic Expanded One";
    font-size: 110%;
    cursor: pointer;
    padding: 10px 10px;
}

.project-button.active {
    background-color: #0000007f;
    border-radius: 5px;
}

.article-button {
    background: none;
    display: block;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    padding: 10px 10px;
}

.article-button.active {
    background-color: #0000007f;
    border-radius: 5px;
}

a {
    color: #ffd8a3;
}

a:hover {
    background-color: #0000007f;
}

.flex-container {
    display: flex;
    gap: 10px;
    margin-top: 15vh;
    width: 100%;
}

.column {
    max-width: 600px;
    min-width: 20%;
    margin: 5%;
    flex: 1;
}

.bio-panel {
    display: flex;
    margin: 60px 5%;
    max-width: 100%;
    gap: 2%;
}

.bio-panel img {
    object-fit: contain;
    min-width: 200px;
    max-width: 20%;
}
